<div class="page-container">
  <div class="content-wrapper">
    <h2>Actores/actrices seleccionados</h2>
    @if (actoresAsociados.length > 0) {
    <div class="actor-grid">
      @for (actor of actoresAsociados; track actor.id_actor) {
      <div class="actor-card">
        <div class="actor-image-container">
          <img [src]="getFullImageUrl(actor.foto_actor)" [alt]="actor.nombre_actor" class="actor-image"
            (error)="handleImageError($event)">
        </div>
        <div class="actor-info">
          <h3 class="actor-name">{{actor.nombre_actor}}</h3>
          <p class="actor-age">{{actor.edad}} años</p>
        </div>
        <div class="actor-actions">
          <button mat-button color="primary" class="view-profile-button" (click)="abrirPerfilActor(actor)">
            Ver Perfil
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm remove-button"
            (click)="eliminarActor(actor.id_actor)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      }
    </div>
    } @else {
    <p class="no-results">No hay actores asociados a este personaje.</p>
    }

    <div class="action-buttons">
      <button mat-stroked-button (click)="volverAProyecto()">
        <mat-icon>arrow_back</mat-icon> Volver al Proyecto
      </button>
      <button mat-raised-button color="accent" class="agregar-actores-button" (click)="navegarAgregarActores()">
        <mat-icon>add</mat-icon> Agregar más actores
      </button>

    </div>
  </div>
</div>