<div class="page-container">
  <div class="content-wrapper">
    <h1 class="project-name">Proyecto: {{ nombreProyecto }}</h1>
    <h4>Actores/actrices seleccionados</h4>
    @if (actoresAsociados.length > 0) {
    <div class="actor-grid">
      @for (actor of actoresAsociados; track actor.id_actor) {
      <div class="actor-card">
        <div class="actor-image-container">
          <img [src]="getFullImageUrl(actor.foto_actor)" [alt]="actor.nombre_actor" class="actor-image"
            (error)="handleImageError($event)">
        </div>
        <div class="actor-info">
          <h3 class="actor-name">{{actor.nombre_actor}}</h3>
          <p class="actor-age">{{actor.edad}} años</p>
        </div>
        <div class="actor-actions">
          <button  class="view-profile-button" (click)="abrirPerfilActor(actor)">
            Ver Perfil
          </button>
          <button type="button" class="btn btn-danger"
            (click)="eliminarActor(actor.id_actor)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      }
    </div>
    } @else {
    <p class="no-results">No hay actores asociados a este personaje.</p>
    }

    <div class="action-buttons d-flex justify-content-between align-items-center mt-4">
      <div class="left-button">
        <button class="btn btn-listado" routerLink="/proyectosList">
          <i class="bi bi-arrow-left me-2"></i> Volver Lista Proyectos
        </button>
      </div>
      <div class="center-buttons d-flex justify-content-center flex-grow-1">
        <button class="btn btn-secondary btn-volver mx-2" (click)="volverAProyecto()">
          <i class="bi me-2"></i> Editar Proyecto
        </button>
        <button class="btn btn-secondary btn-volver mx-2" (click)="navegarAgregarActores()">
          <i class="bi bi-plus me-2"></i> Agregar personajes
        </button>
      </div>
    </div>


    </div>
  </div>
