<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo_peq.png" alt="Logo">
      <span class="project-name">Talent Lab</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarColor01">
      <ul class="navbar-nav center-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio-section">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-section">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav right-nav">
        @if (!(isLoggedIn$ | async)) {
          <li class="nav-item">
            <a [routerLink]="['/login']" class="nav-link">LOGIN</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/register']" class="nav-link">REGISTER</a>
          </li>
        } @else {
          <li class="nav-item d-flex align-items-center">
            <span class="text-grey-text">Hi, {{(username$ | async)}}!</span>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/proyectosList']" class="nav-link">PROYECTOS</a>
          </li>
          <li class="nav-item">
            <button (click)="logOut()" class="nav-link">LOG OUT</button>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>