<div class="home-container">
    <header class="main-header">
      <img src="assets/images/talent-lab-logo.png" alt="Talent Lab Logo" class="logo">
      <h1 class="project-name">Talent Lab</h1>
    </header>
    
    <main class="options-container">
      <div class="option producer">
        <h2>Eres Productora</h2>
        <p>Encuentra el talento que necesitas para tu próximo proyecto.</p>
        <a [routerLink]="['/login']" class="btn btn-primary">Explorar Talento</a>
      </div>
      <div class="option actor">
        <h2>Eres Actor/Actriz</h2>
        <p>Muestra tu talento y encuentra oportunidades en la industria.</p>
        <a href="#" class="btn btn-primary">Crear Perfil</a>
      </div>
    </main>
  </div>
