/* General */
.container-fluid {
  max-width: 2500px;
  width: 100%;
}

.landing-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

/* Hero Section */
.hero {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.hero-content {
  margin-bottom: 1rem;
  margin-left: 4rem;
}

.hero-image img {
  max-width: 85%;
  height: auto;
  margin-left: 5rem;
}

.slogan {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.title,
.subtitle {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.title {
  color: var(--beig-color);
}

.subtitle {
  color: var(--text-color);
}

.description {
  color: var(--text-color);
  font-size: 1rem;
}

/* Options Section */
.options-section {
  padding: 2rem 0;
  background-color: var(--beig-color);
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; 
}

.option-card {
  background-color: var(--beig-color);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 3px solid #d8d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-card:hover {
  transform: translateY(-5px);
}

.card-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.option-title {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.option-description {
  color: var(--text-color);
  margin-bottom: 1.7rem;
}

.cta-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--secondary-color);
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--text-color);
}

/* Portfolio Section */
.portfolio-section {
  padding: 4rem 0;
  max-width: 1800px; 
  margin: 0 auto; 
}
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 100%; 
}
.photo-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
  aspect-ratio: 1 / 1;
}
.photo-item:hover {
  transform: scale(1.08);
}
.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.photo-item:hover .overlay {
  height: 30%;
}
.overlay p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Contact Section */
.contact-section {
  padding: 50px;
  background-color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mapa */
.map-container {
  height: 400px;
  margin-bottom: 2px;
  margin-top: 10px;
  position: relative;
}

#map {
  width: 100%; 
  height: 100%; 
  position: absolute; 
}

/* Estilos de información de contacto */
/* Contact Section */
.contact-section {
  padding: 50px;
  background-color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que el contenido se ajuste en una sola columna si es necesario */
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

/* Mapa */
.map-container {
  height: 400px;
  margin-bottom: 2px;
  margin-top: 10px;
  position: relative;
}

#map {
  width: 100%; 
  height: 100%; 
  position: absolute;
}

/* Estilos de información de contacto */
.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
  padding: 0;
  line-height: 1.5;
}

/* Estilos del formulario */
.contact-form {
  background-color: var(--primary-color);
  padding: 30px 35px;
  border-radius: 30px;
  margin: 25px 0;
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  padding: 10px 0;
  background-color: transparent;
  margin-bottom: 15px;
}

textarea.form-control {
  resize: none;
}

.btn-primary {
  background-color: #333;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%; /* Botón toma todo el ancho en pantallas pequeñas */
}

.btn-primary:hover {
  background-color: #555;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info, .contact-form {
    width: 100%; /* Ambos bloques toman el 100% del ancho en pantallas pequeñas */
    margin-bottom: 30px;
  }

  .map-container {
    height: 300px; /* Ajuste en la altura del mapa para pantallas pequeñas */
  }
}

/* Media Queries para pantallas más pequeñas (móviles) */
@media (max-width: 576px) {
  .contact-section {
    padding: 20px;
  }

  .contact-form {
    padding: 20px;
  }

  .map-container {
    height: 250px; /* Mapa más pequeño en móviles */
  }
}

/* Footer */
.main-footer {
  background-color: var(--text-color);
  padding: 2rem 0;
  color: var(--grey-color);
}

.footer-logo {
  font-weight: bold;
  color: var(--grey-color);
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--grey-color);
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 1200px) {
  .hero-content {
    margin-left: 2rem;
  }

  .hero-image img {
    margin-left: 2rem;
  }

  .title,
  .subtitle {
    font-size: 4rem;
  }

  .description {
    font-size: 1.15rem;
  }
}

@media (max-width: 992px) {
  .hero-content,
  .hero-image {
    text-align: center;
    margin-left: 0;
  }

  .hero-image img {
    margin: 0 auto;
  }

  .title,
  .subtitle {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .hero-content {
    margin-bottom: 1.5rem;
  }

  .title,
  .subtitle {
    font-size: 3rem;
  }

  .slogan {
    font-size: 1.1rem;
  }

  .description {
    font-size: 1rem;
  }

  .carousel-item {
    height: 300px;
  }


}

@media (max-width: 576px) {
  .container-fluid {
    padding: 0 10px;
  }

  .hero {
    padding: 1rem 0;
  }

  .title,
  .subtitle {
    font-size: 2.5rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .description {
    font-size: 0.95rem;
  }

  .options-container {
    flex-direction: column;
    align-items: center;
  }

  .option-card {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .main-footer .row > div {
    text-align: center;
    margin-bottom: 1rem;
  }

  .social-icons {
    justify-content: center;
  }
}
